<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- metaデータ、CSS読み込み -->
    <div th:replace="~{common/meta :: common-meta}">common meta data</div>
    <!-- JavaScript読み込み -->
    <div th:replace="~{common/script :: common-script}">common-script</div>
    <title>Home</title>
</head>

<body>
    <!-- ヘッダー読み込み -->
    <header th:replace="~{common/header :: common}">common header</header>
    <main>
        <div class="uk-container">
            <div class="uk-card uk-card-default uk-card-body uk-margin-small-top uk-card-hover">
                <h3 class="uk-card-title">ようこそ！</h3>
            </div>
            <div class="uk-column-1-2 uk-margin-large">
                <a th:href="@{/todo}" class=" uk-displey-block uk-link-toggle uk-card uk-card-default uk-card-body uk-card-hover uk-margin-small">
                    <h3 class="uk-card-title"><span class="uk-link-heading">タスク管理</span></h3>
                    <p>タスク管理ができます。サブタスクの追加も可能です。できればGoogleTaskとの連携もしたいです。(未実装)</p>
                </a>
                <a href="#" class="uk-display-block uk-link-toggle uk-card uk-card-secondary uk-card-body uk-card-hover uk-margin-small">
                    <h3 class="uk-card-title"><span class="uk-link-heading">チーム進捗管理</span></h3>
                    <p>進捗管理ができます。タスクをもとに管理します。（未実装）</p>
                </a>
            </div>




    </main>

    <!-- フッター読み込み -->
    <footer th:replace="~{common/footer :: common}">common footer</footer>
    

</body>

</html>