<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="~{common/meta :: common-meta}">common meta data</div>
    <div th:replace="~{common/script :: common-script}">common-script</div>
    <title>Home</title>
</head>

<body>
    <header th:replace="~{common/header :: common}">common header</header>
    <main>
        <header class="uk-margin-large-top uk-margin-large-bottom">
            <h1 class="uk-heading-medium uk-heading-line uk-text-center">Welcome to My Website</h1>
          </header>
          <section class="uk-margin-large-bottom">
            <div class="uk-grid uk-child-width-1-2@s" uk-grid>
              <div>
                <div class="uk-card uk-card-default uk-card-body">
                  <h3 class="uk-card-title">作りたいもの１</h3>
                  <p>タスク管理(ToDo)<br>
                    ・GoogleTaskと連携もあり<br>
                    ・サブタスクも登録したい<br>
                    ・メモ機能も欲しい
                  </p>
                </div>
              </div>
              <div>
                <div class="uk-card uk-card-default uk-card-body">
                  <h3 class="uk-card-title">作りたいもの2</h3>
                  <p>進捗管理アプリ(?)<br>
                    ・上記タスクと連携<br>
                    ・ユーザーに割り当てもできるといいよね<br>
                    ・進捗度合いをタスク達成度で表示、など
                  </p>
                </div>
              </div>
            </div>
          </section>
          <footer class="uk-text-center">
            <p>&copy; 2024 Yoshitaka Saito All Rights Reserved.</p>
          </footer>



    </main>

    <footer th:replace="~{common/footer :: common}">common footer</footer>

   

</body>

</html>