<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="~{common/meta :: common-meta}">common meta data</div>
    <div th:replace="~{common/script :: common-script}">common-script</div>
    <title>Index</title>
</head>

<body>
    <header th:replace="~{common/header :: common}">common header</header>
    <main>
        <header class="uk-margin-large-top uk-margin-large-bottom">
            <h1 class="uk-heading-medium uk-heading-line uk-text-center">Welcome to My Website</h1>
          </header>
          <section class="uk-margin-large-bottom">
            <div class="uk-grid uk-child-width-1-3@s" uk-grid>
              <div>
                <div class="uk-card uk-card-default uk-card-body">
                  <h3 class="uk-card-title">作成したもの１</h3>
                  <p>ログイン機能<br>
                    ・ユーザー登録、ログインの実装<br>
                    ・SpringSecurityを使用<br>
                    
                  </p>
                </div>
              </div>
              <div>
                <div class="uk-card uk-card-default uk-card-body">
                  <h3 class="uk-card-title">作成したもの2</h3>
                  <p>タスク管理(ToDo)アプリ<br>
                    ・ユーザー毎のタスクの管理<br>
                    ・タスクのCRUD機能<br>
                    ・タスクのソート機能
                  </p>
                </div>
              </div>
              <div>
                <div class="uk-card uk-card-default uk-card-body">
                  <h3 class="uk-card-title">作成したもの3</h3>
                  <p>ChatGPTとの会話アプリ<br>
                    ・ChatGPTとAPIを通して会話<br>
                    ・連続性のある会話はできない<br>
                  </p>
                </div>
              </div>
            </div>
            <div class="uk-grid uk-align-center uk-margin-large" uk-grid>
              <div class="uk-card uk-card-secondary uk-card-body">
                <h3 class="uk-card-title">課題</h3>
                <p>・サブタスクも追加できるようにしたかった。<br>
                  ・タスクの期限も設定できるようにしたかった。<br>
                  ・GoogleToDoとの連携もできたらよかった。<br>
                  ・ChatGPTと連続性のある会話や、特定の質問を投げかけさせて診断する(?)アプリを作りたかった。<br>
                  ・ReactとSpringBootの連携をできたらよかった。<br>
                  <br>
                </p>
              </div>
            </div>
            </div>
          </section>
          



    </main>

    <footer th:replace="~{common/footer :: common}">common footer</footer>

   

</body>

</html>