<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- metaデータ、CSS読み込み -->
    <div th:replace="~{common/meta :: common-meta}">common meta data</div>
    <!-- JavaScript読み込み -->
    <div th:replace="~{common/script :: common-script}">common-script</div>
    <title>Insert Title</title>
</head>

<body>
    <!-- ヘッダー読み込み -->
    <header th:replace="~{common/header :: common}">common header</header>
    <main>




    </main>

    <!-- フッター読み込み -->
    <footer th:replace="~{common/footer :: common}">common footer</footer>
    

</body>

</html>