<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="common" class="uk-background-primary uk-navbar-container">
    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; end: + *; offset: 80 ">

        <nav class="uk-navbar-container" th:style="'background-color: #2397f3;'">
            <div class="uk-container">
                <div uk-navbar>

                    <div class="uk-navbar-left">

                        <ul class="uk-navbar-nav">
                            <li class="uk-active"><a th:href="@{/registration}"
                                    th:style="'color: #ffffff;'">Registration</a></li>
                            <li>
                                <a href="#" th:style="'color: #ffffff;'">Parent</a>
                                <div class="uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active uk-text-muted"><a href="#"
                                                th:style="'color: #ffffff;'">Active</a></li>
                                        <li><a href="#">Item</a></li>
                                        <li><a href="#">Item</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>

                    </div>

                    <div class="uk-navbar-right">

                        <ul class="uk-navbar-nav">
                            <li><a th:href="@{/login}" th:style="'color: #ffffff;'" sec:authorize="!isAuthenticated()">Login</a></li>
                            <li sec:authorize="isAuthenticated()" th:style="'color: #ffffff;'">
                                <a href="#" th:text="'Hello, ' + ${#authentication.principal.username}+'!'"th:style="'color: #ffffff;'"></a>
                                <div class="uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li>Email:<a href="#" th:text="${#authentication.principal.username}"></a></li>
                                        <li>Name:<a href="#" th:text="${#authentication.principal.username}">Item</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><a th:href="@{/logout}" th:style="'color: #ffffff;'" onclick="document.getElementById('logout-form').submit();" sec:authorize="isAuthenticated()">Logout</a></li>
                            <form id="logout-form" th:action="@{/logout}" method="post">
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                            </form>
                        </ul>

                    </div>

                </div>
            </div>
        </nav>

    </div>
</header>