<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="common" class="uk-background-primary uk-navbar-container" uk-sticky>
    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky;">

        <nav class="uk-navbar-container" th:style="'background-color: #2397f3;'">
            <div class="uk-container">
                <div uk-navbar>

                    <div class="uk-navbar-left">

                        <ul class="uk-navbar-nav">
                            <li class="uk-active"><a th:href="@{/registration}" th:style="'color: #ffffff;'"
                                    sec:authorize="!isAuthenticated()">ユーザー登録</a></li>
                            <li><a th:href="@{/home}" th:style="'color: #ffffff;'"
                                    sec:authorize="isAuthenticated()">Home</a></li>
                            <li>
                                <a href="#" th:style="'color: #ffffff;'">機能一覧</a>
                                <div class="uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li><a th:href="@{/todo}">ToDo</a></li>
                                        <li><a th:href="@{/chatgptapp}">ChatGPT App</a></li>
                                        <li><a th:href="@{/home}">home</a></li>
                                    </ul>
                                </div>
                            </li>

                        </ul>

                    </div>

                    <div class="uk-navbar-right">

                        <ul class="uk-navbar-nav">
                            <li><a th:href="@{/login}" th:style="'color: #ffffff;'"
                                    sec:authorize="!isAuthenticated()">Login</a></li>
                            <li sec:authorize="isAuthenticated()" th:style="'color: #ffffff;'">
                                <a href="#" th:text="'Hello, ' + ${#authentication.principal.username}+'!'"
                                    th:style="'color: #ffffff;'"></a>
                                <div class="uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li>Email:<a href="#" th:text="${#authentication.principal.username}"></a></li>
                                        <li>Name:<a href="#" th:text="${#authentication.principal.username}">Item</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li><a th:href="@{/logout}" th:style="'color: #ffffff;'"
                                    onclick="document.getElementById('logout-form').submit();"
                                    sec:authorize="isAuthenticated()">Logout</a></li>
                            <form id="logout-form" th:action="@{/logout}" method="post">
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                            </form>
                        </ul>

                    </div>

                </div>
            </div>
        </nav>

    </div>
</header>